<!-- -*- mode: XML -*- -->
<launch>
  <arg name="racecar_version" default="racecar-v2" />
  <arg name="run_camera" default="false"/>
  <arg name="show_lines" default="false"/>
  <arg name="stationary" default="true"/>
  <node pkg="boat" name="ZED" type="zed.py"/>
  <node pkg="boat" name="Line_Follower" type="follower.py" output="screen">
     <param name="display" type="bool" value="$(arg show_lines)" />
     <param name="stationary" type="bool" value="$(arg stationary)" />
  </node>
  <node pkg="boat" name="Steering" type="driver.py"/>
  <node pkg="web_video_server" name="web_video_server" type="web_video_server" if="$(eval arg('show_lines'))"/>

  <include file="$(find racecar)/launch/includes/$(arg racecar_version)-teleop.launch.xml">
    <arg name="racecar_version" value="$(arg racecar_version)" />
    <arg name="run_camera" value="$(arg run_camera)" />
  </include>
</launch>
